@charset "utf-8";

html {
  margin: 0 0;
}

body{
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  margin:0 0;
}

header{
  display: block;
}

.CenturyGothicBold {
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  color: #7F7F77;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

#header{
  position: absolute;
  top: 5.0rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 997;
}

#header .logo {
  margin: 0 0;
  width: 282px;
}

a img{
  border: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.view_sp {
  display: none !important;
}

.view_ie {
  display: none;
}

/*--------------------  menu  begin   -----------------------*/
.menu{
  position: fixed;
  top: 4.0rem;
  right: 5.5rem;
  z-index: 999;
  width: 4.4rem;
  height: 3.0rem;
  cursor: pointer;
}
.menu__line{
  transition: .3s ease-out;
  position: absolute;
  
  /* display: block; */
  
  width: 100%;
  height: 4px;
  background-color: #a9808C;
}
.menu__line--top{
  top: 0;
  left: 0;
}

.menu__line--center{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* top: 9px; */
}
.menu__line--bottom{
  left:0;
  top: 90%;
  /* bottom: 0; */
}
.menu__line--top.active{
  top: 50%;
  transform-origin: 50%;
  transform: rotate(45deg);
}
.menu__line--center.active{
  /* transform:scaleX(0); */
  opacity: 0;
}
.menu__line--bottom.active{
  /* bottom: 10px; */
  top: 50%;
  transform-origin: 50%;
  transform: rotate(135deg);
} 

/* -------------------------  menu end  -------------------- */


/* ------------------------  gnav  begin  ----------------------------- */
#gnav {
  background-color: #fff;
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 998;
  /* transition: .25s ease-out; */
  /* pointer-events: none; */
  padding: 8vh 0;
}

#gnav_wrap {
  top: 0;
  left: 0;
  display: flex;
  /* flexbox内の要素を積み重なるように配置 */
  flex-direction: column;
  /* 各アイテムを均等に配置し最初のアイテムは先頭に寄せ、 最後アイテムは末尾に寄せる */
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

#gnav #gnav_wrap .logo img {
  width: 12.0rem;
  margin-bottom: 1.0rem;
}

#gnav #gnav_wrap .list {
  width: 100%;
}

#gnav #gnav_wrap .list li a {
  transition: .25s ease-out;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 4vh;
}

#gnav #gnav_wrap .list li a span {
  display: block;
  color: #B28D98;
  font-size: 3.0rem;
  /* font-size: large; */
}

#gnav #gnav_wrap .list li a span.en{
  margin-bottom: 1.5rem;
  font-size: 3.0rem;
  line-height: 1;
}

#gnav #gnav_wrap .list li a span.jp {
  font-size: 1.0rem;
  font-weight: bold;
}

#gnav #gnav_wrap .linkList {
  display: flex;
  justify-content: center;
  /* list-style: none; */
}

#gnav #gnav_wrap .linkList li {
  margin: 0 3.0rem;
}

#gnav #gnav_wrap .linkList li a {
  position: relative;
  padding: 0 0 0.5rem 0.2rem;
  font-size: 1.8rem;
  color: #B28D98;
  display: inline-block;
  text-decoration: none;
}

#gnav #gnav_wrap .linkList li a::after {
  /* border-bottom: solid 2px #f00;
  bottom: 0;
  content: "";
  display: block;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0; */
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #B28D98;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}

#gnav #gnav_wrap .linkList li a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}


/*-------------  sns btn begin   ---------------*/
#gnav .snsBtn {
  margin-top: 2.0rem;
  display: flex;
  justify-content: center;
}

#gnav .snsBtn .twitter {
  margin: 0 2.5rem;
}

#gnav .snsBtn .instagram {
  margin: 0 2.5rem;
}

.defs{
  display: none;
}

#gnav .snsBtn .twitter a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
}

#gnav .snsBtn .instagram a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
}

#gnav .snsBtn .twitter a svg{
	width: 3.5rem;
  height: 3.5rem;
  fill: #B28D98;
}

#gnav .snsBtn .instagram a svg{
	width: 3.5rem;
  height: 3.5rem;
  fill: #B28D98;
}

/*--------------  sns btn end  -------------------- */


/*----   slide show  begin   ----*/
/* 全体のスタイル */
.swiper-container {
  height: 100vh;
}
.swiper1 {
	width: 50%;
  height: 100vh;
  float: left;
}
/* 全スライド共通スタイル */
.swiper1 .swiper-slide {
	color: #ffffff;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 250px;
}
/* 2個目のSwiper全体のスタイル */
.swiper2 {
	width: 50%;
  height: 100vh;
  float: right;
}
/* 2個目のSwiperのスライドのスタイル */
.swiper2 .swiper-slide {
	color: #ffffff;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 250px;
}

/* 4の倍数＋1枚目のスライドのスタイル（1枚目、5枚目…） */
.swiper-slide:nth-child(4n+1) {
	background-color: #EECB27;
}
/* 4の倍数＋2枚目のスライドのスタイル（2枚目、6枚目…） */
.swiper-slide:nth-child(4n+2) {
	background-color: #E13239;
}
/* 4の倍数＋3枚目のスライドのスタイル（3枚目、7枚目…） */
.swiper-slide:nth-child(4n+3) {
	background-color: #1F1762;
}
/* 4の倍数＋4枚目のスライドのスタイル（4枚目、8枚目…） */
.swiper-slide:nth-child(4n+4) {
	background-color: #BEDAE5;
}

/* -----------  main  contents begin ------------------- */
    /* into  begin  */
    main#home #intro {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 70.0rem;
      background-image: url(../img/intro_bg.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    main#home #intro h2 {
      width: 34.0rem;
      height: 5.0rem;
      margin: 0 auto 5.5rem;
      line-height: 0;
    }

    main#home #intro .catch {
      margin: 0 auto 5.5rem;
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 1;
    }

    main#home #intro .flex {
      display: flex;
      justify-content: space-between;
      width: 93.0rem;
      margin: 0 auto;
    }

    main#home #intro .flex .img {
      width: 44.1rem;
      margin-top: 2.0rem;
    }

    main#home #intro .flex .img img {
      mix-blend-mode: multiply;
    }

    main#home #intro .flex .txtArea {
      width: 44.0rem;
      font-size: 1.4rem;
      letter-spacing: 0;
    }

    main#home #intro .flex .txtArea .jp {
      margin-bottom: 2em;
      line-height: calc(33 / 14);
    }

    main#home #intro .flex .txtArea .en {
      line-height: calc(29 / 14);
    }
    /* intro end  */
    /* lineup begin  */
    /* lineup end  */
    /* shop begin  */
    /* shop end */
/* -----------  main  contents end ------------------- */